<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/bootstrap-rtl.css">
        <link rel="stylesheet" href="css/font-awesome.css">
        <title><%= title %></title>
    </head>
    <body>
        <form class="form-group row col-2 m-auto p-2" action="/admin/add-todo" method="post">
            <input class="form-control mb-2" type="text" name="todo" id="todo" placeholder="Enter Text of Todo">
            <input class="btn btn-danger m-auto" type="submit" value="Submit">
        </form>

        <% if (todos.length > 0) { %>
            <ul class="list-unstyled" id="todo">
                <% for(let todo of todos) { %>
                    <li>
                        <div class="alert <%= todo.completed ? 'alert-success' : 'alert-warning' %>  w-50 mx-auto">
                            <% if(todo.completed) { %>
                                <del><%= todo.text %></del>
                                <a href="/admin/delete-todo/<%= todo.id %>" class="close fa fa-trash" style="color: red;"></a>
                            <% } else { %>
                                <%= todo.text %>
                                <a href="/admin/delete-todo/<%= todo.id %>" class="close fa fa-trash" style="color: red;"></a>
                                <a href="/admin/completed-todo/<%= todo.id %>" class="close fa fa-check-square mr-2" style="color: green;"></a>
                            <% } %> 
                        </div>
                    </li>
                <% } %>
            </ul>
        <% } else { %>
            <div class="alert alert-warning w-50 mx-auto" role="alert">Todos is Empty</div>
        <% } %> 
    </body>
</html>